In [12]:
import pandas as pd

alunos = pd.read_excel(r'C:\Users\lucas\OneDrive\Área de Trabalho\Mat - Unifor\Base de Alunos.xlsx')
dengue = pd.read_excel(r'C:\Users\lucas\OneDrive\Área de Trabalho\Mat - Unifor\Base de Dengue.xlsx')
onibus = pd.read_excel(r'C:\Users\lucas\OneDrive\Área de Trabalho\Mat - Unifor\Base de Onibus.xlsx')
display(alunos)
display(dengue)
display(onibus)

,ID,Nome,Nome do Pai,Nome da Mãe,Sexo,Data de Nascimento
0,0,ANTONIO SILVA NONATO,ANTONIO OLIVEIRA NONATO,MARIA SILVA EUNCE,m,2000-06-26 00:00:00
1,1,RAFAEL OLIVEIRA FERREIRA,FRANCISCO CANDIDO FERREIRA,MARIA,m,29/16/1994
2,2,VALDILENE SOCORRO SILVA,JOAO A S,TEREZINHA SOCORRO MOREIRA,f,1998-02-13 00:00:00
3,3,CARLA GONDIM ELIESIO,RODRIGO BRITO ELIESIO,ZULMIRA GONDIM AIRES,f,2005-01-24 00:00:00
4,4,ZUALA RODQIGUES ZENDES,RAIMUNDO VALE MENDES,FRANCISCA RODRIGUES ARAUJO,f,1998-01-29 00:00:00
...,...,...,...,...,...,...
261,261,GERLANA,FLATIO SIUVA PAIXAO,MARIA XAVIER FREITAP,f,2007-11-14 00:00:00
262,262,BRENA CARMO BRAGA,VICENTE DASILVA BRAGA,MARCIA C S,f,2012-09-06 00:00:00
263,263,MARIA COSTA SILVA,FRANCISCO,NEUSA,f,2002-12-27 00:00:00
264,264,LUIGR Z,FRANCISCO,MARIA RIBEIRT ERCILIA,m,2008-09-14 00:00:00
265,265,MARIA OLIVEIRA PEREIRA,MANOEL SILVA PEREIRA,PAIMUNDA OLIVEDRASILVA,f,07/0/2007

,ID,Nome,Nome do Pai,Nome da Mãe,Sexo,Data de Nascimento,Data da Dengue
0,0,LORRANAN C A,CARLOS SILVA ALVES,MARIH COSTLALMEFDA,F,3170-04-24 00:00:00,24/0/0014
1,1,FRANCISCO SOUSA LOPES,RUBENS SILVA LOPES,CEZANINA SOUSA LEDA,M,3944-07-11 00:00:00,46/10/1584
2,2,DENIRA,PEDRO M F,FRANCISCA,F,5993-05-27 00:00:00,16/17/4001
3,3,IVANILGO MFRIIRA EDMSLSON,RAIMUNDO SILVA EDMILSON,MARCLENB MOREIAY ROZRIGUEE,M,2011-08-20 00:00:00,65422
4,4,ADYLA ANJOS ANDRE,FRANCISCO M A,CFNDYVNJOS FERNSNDES,F,1902-03-04 00:00:00,00/4/1419
...,...,...,...,...,...,...,...
235,235,ANA RODRIGUES SOUSA,MARCOS F S,KATIA RODRIGUES SOUZA,F,1978-09-01 00:00:00,78/16/1005
236,236,KARYNE P B,JOZIA SILVA BANDEIRA,ANA PEREIRA ALVES,F,1973-02-20 00:00:00,2595013
237,237,FAGNER MENEZES NASCIMENTO,ANTONIO SILVA NASCIMENTO,MARIA MGNEZES POREIRA,M,9986-03-07 00:00:00,37239
238,238,XABIANA TEUDOSIO RIIEIRO,JOAO SILVA RIBEIRO,MARIA TEODOSIO SANTOS,F,65/5/1975,41556
239,239,TERESINHA CONCEICAO FILHO,SEBASTIAO C F,JOSILENE,F,76/3/1937,2586235

,ID,Nome,Nome do Pai,Nome da Mãe,Sexo,Data de Nascimento,Ônibus
0,0,FRANCISCA SALES HENRIOUE,ANTONIO SILVA HENRIQUE,FRANCISCA SALES OLIVEIRA,M,331996,"128, 595, 464, 320, 227, 972, 031, 961"
1,1,MARGARIDA T FELIX,JOAO,MARIA T NASCIMENTO,M,131991,471
2,2,RAIMUNDO PAIVA SOUSA,JOSE SILVA SOUSA,NANCY PAIVA ROSANGELA,H,1961994,"687, 449, 746, 225"
3,3,LUCIVAN NOELIA MOREIRA,JOAO NOKANOMOREIRA,HILDA NOELIA COSTA,H,1541336,"746, 014, 768, 671, 985, 776, 839, 207"
4,4,FRANCISCO FERREIRA MARTINS,ANTONIO RIBEIRO MARTINS,MARIA FERREIRA ALBUQUERQUE,H,5126003,"445, 806, 956, 540, 728, 636, 932"
...,...,...,...,...,...,...,...
235,235,SARA M A,FRANCISCO FREITAS ABREU,CONCEICAO M N,M,2582006,313
236,236,JOEL,ANTONIO CRUZ SOUSA,ANTONIA,H,1092008,"006, 852, 923, 629, 463, 618, 846, 681"
237,237,LUCIMAR MENDONCA JAILSON,DENILSON OLIVEIRA JAILSON,MARIA GENDONCN LTLIA,M,2771965,"546, 388, 654, 898, 892, 905, 889"
238,238,ANZONNO SINVA RAMOS,ELZRSANDROMCREIRA RDMOS,REHINKSILVA AFANCISCZ,H,211993,"625, 744, 536, 814, 361, 030, 158, 555, 739, 775"
239,239,SORAGA SANTRS VILOO,MARIO SOUSA FILHO,MARIA SANTOS LIMA,M,5470001,"319, 820, 361, 198, 493, 833"